<h1>Оглавление<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Техническое-задание" data-toc-modified-id="Техническое-задание-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Техническое задание</a></span></li><li><span><a href="#Генерация-данных" data-toc-modified-id="Генерация-данных-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Генерация данных</a></span><ul class="toc-item"><li><span><a href="#Задание-1" data-toc-modified-id="Задание-1-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Задание 1</a></span></li><li><span><a href="#Задание-2" data-toc-modified-id="Задание-2-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Задание 2</a></span></li></ul></li><li><span><a href="#Ссылка-на-дашборды-(TableaU)" data-toc-modified-id="Ссылка-на-дашборды-(TableaU)-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Ссылка на дашборды (TableaU)</a></span></li></ul></div>

## Техническое задание

**1. На тестовом портале по смарт-процессам построить отчет для отдела
логистики.**

Поля для отчета:
- дата создания
- дата отправки
- стоимость логистики
- какой службой отправили

Отчет:
Выбор варианта отображения за Вами.
Нужно наглядно отобразить количество отправок на дату и какой
службой отправлено.

**2. На тестовом портале по сделкам построить отчет для бухгалтерии.**

Поля для отчета:
- дата оплаты
- тип оплаты
- сумма сделки
- дата создания
- дата завершения
- ответственный

Отчет1:
Выбор варианта отображения за Вами.
Показать сколько зашло средств на дату оплату: дата оплаты и сумма
сделки.

Отчет2:
Выбор варианта отображения за Вами.
Показать сколько ответственный принес прибыли дату.

## Генерация данных

### Задание 1

Для выполнения данного задания необходимо сгенерировать данные на основе, которых будет построен дашборд. Воспользуемся высокоуровневым языком программирования Python.

Нам потребуется несколько библиотек: csv, random, datetime и timedelta.

Загружаем библиотеки.

In [1]:
import csv
import random
import pandas as pd
from datetime import datetime, timedelta

Для генерации данных необходимо задать границы нашего датасета и указать примерные характеристики.

Пусть в датасете будет 100 строк и 4 столбца:

- дата создания (с 01.01.2023 по 31.12.2023)
- дата отправки (с 01.01.2023 по 31.12.2023)
- стоимость логистики (от 50 руб до 100 000 руб)
- какой службой отправили (CDEK, DHL, Boxberry, Почта России, UPS)

Напишем функцию, которая будет рандомно генерировать дату создания заказа и дату отправки в рамках заданного диапазона.

In [2]:
def generate_random_date(start_date, end_date):
    time_delta = end_date - start_date
    random_days = random.randint(0, time_delta.days)
    return start_date + timedelta(days=random_days)

Теперь необходимо написать функцию, которая будет генерировать случайным образом стоимость логистики в заданном диапазоне: от 50 до 100 000 руб.

In [3]:
def generate_random_cost():
    return round(random.uniform(50, 100000))

Далее напишем функцию, которая будет случайным образом выбирать курьерскую службу из списка.

In [4]:
def generate_random_courier():
    couriers = ["CDEK", "DHL", "Boxberry", "Почта России", "UPS"]
    return random.choice(couriers)

Основные функции есть, осталось собрать функцию, которая будет генерировать датасет из случайных данных.

In [5]:
def generate_dataset(num_rows):
    start_date = datetime(2023, 1, 1)
    end_date = datetime(2023, 12, 31)

    dataset = []
    
    for _ in range(num_rows):
        creation_date = generate_random_date(start_date, end_date)
        dispatch_date = generate_random_date(creation_date, end_date)
        logistics_cost = generate_random_cost()
        courier = generate_random_courier()

        row = [creation_date.strftime("%Y-%m-%d"), dispatch_date.strftime("%Y-%m-%d"), logistics_cost, courier]
        dataset.append(row)

    return dataset

Напишем функцию, которая будет сохранять сгенерированный датасет в файл формата csv.

In [6]:
def save_to_csv(dataset, file_name):
    with open(file_name, 'w', newline='', encoding='utf-8') as csvfile:
        csv_writer = csv.writer(csvfile)
        csv_writer.writerow(["Creation Date", "Dispatch Date", "Logistics Cost", "Courier"])

        for row in dataset:
            csv_writer.writerow(row)

Задаем ограничение размером в 100 строк.

In [7]:
if __name__ == "__main__":
    num_rows = 100

Генерируем датасет и сохраняем в CSV файл.

In [8]:
dataset = generate_dataset(num_rows)

save_to_csv(dataset, "logistics_dataset.csv")

Откроем датасет и отобразим первые 5 строк ,а также воспользуемся командой info() и убедимся что все сгенерировано корректно.

In [9]:
df = pd.read_csv('C:/Users/truel/pet_projects/logistics_dataset.csv')

In [10]:
df.head()

  Creation Date Dispatch Date  Logistics Cost       Courier
0    2023-04-23    2023-06-05           50639  Почта России
1    2023-05-19    2023-11-02           90012      Boxberry
2    2023-11-12    2023-12-01           26426      Boxberry
3    2023-08-19    2023-12-11           37932      Boxberry
4    2023-08-28    2023-10-17           80128           DHL

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Creation Date   100 non-null    object
 1   Dispatch Date   100 non-null    object
 2   Logistics Cost  100 non-null    int64
 3   Courier         100 non-null    object
dtypes: int64(1), object(3)
memory usage: 3.2+ KB

Итого у нас получился датасет с 4 столбцами и 100 строками. Данные успешно сгенерированы и их можно использовать для построения дашборда.

### Задание 2

Подобным образом сгенерируем данные для второго задания.

У нас будет 5 столбцов:
    
- тип оплаты
- сумма сделки
- дата создания
- дата завершения
- ответственный

Размер датасета также ограничим в 100 строк.

Не будем подробно останавливаться на комментариях, так как все функции аналогичны предыдущему коду.

In [12]:
def generate_random_date(start_date, end_date):
    time_delta = end_date - start_date
    random_days = random.randint(0, time_delta.days)
    return start_date + timedelta(days=random_days)

In [13]:
def generate_random_amount():
    return round(random.uniform(100, 500000))

In [14]:
def generate_random_payment_type():
    payment_types = ["наличный", "безналичный"]
    return random.choice(payment_types)

In [15]:
def generate_random_responsible():
    responsibles = ["Локайчук Д.А.", "Иванов И.И.", "Афанасьева Е.Б.", "Карасева З.П.", "Королёв С.П."]
    return random.choice(responsibles)

In [17]:
def generate_dataset(num_rows):
    start_date = datetime(2023, 1, 1)
    end_date = datetime(2023, 12, 31)

    dataset = []

    for _ in range(num_rows):
        creation_date = generate_random_date(start_date, end_date)
        completion_date = generate_random_date(creation_date, end_date)
        payment_type = generate_random_payment_type()
        transaction_amount = generate_random_amount()
        responsible = generate_random_responsible()

        row = [payment_type, transaction_amount, creation_date.strftime("%Y-%m-%d"), completion_date.strftime("%Y-%m-%d"), responsible]
        dataset.append(row)

    return dataset

In [18]:
def save_to_csv(dataset, file_name):
    with open(file_name, 'w', newline='', encoding='utf-8') as csvfile:
        csv_writer = csv.writer(csvfile)
        csv_writer.writerow(["Payment Type", "Transaction Amount", "Creation Date", "Completion Date", "Responsible"])

        for row in dataset:
            csv_writer.writerow(row)

In [19]:
if __name__ == "__main__":
    num_rows = 100
    dataset = generate_dataset(num_rows)
    save_to_csv(dataset, "transaction_dataset.csv")

In [20]:
df_2 = pd.read_csv('C:/Users/truel/pet_projects/transaction_dataset.csv')

In [21]:
df_2.head()

,Payment Type,Transaction Amount,Creation Date,Completion Date,Responsible
0,безналичный,439213,2023-08-27,2023-12-24,Локайчук Д.А.
1,наличный,146543,2023-10-06,2023-10-17,Локайчук Д.А.
2,безналичный,343327,2023-07-02,2023-07-13,Локайчук Д.А.
3,безналичный,377327,2023-08-01,2023-10-01,Карасева З.П.
4,безналичный,235035,2023-02-17,2023-07-13,Локайчук Д.А.

In [22]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Payment Type        100 non-null    object
 1   Transaction Amount  100 non-null    int64
 2   Creation Date       100 non-null    object
 3   Completion Date     100 non-null    object
 4   Responsible         100 non-null    object
dtypes: int64(1), object(4)
memory usage: 4.0+ KB

Все данные успешно сгенерированы. Можно использовать датасеты для построения дашбордов.

## Ссылка на дашборды (TableaU)

1) Дашборд - отчёт для отдела логистики: [Нажми для перехода](https://public.tableau.com/app/profile/sergei.v8049/viz/test_task_likesoft24_dash_1/Dashboard1)

2) Дашборд - отчёт для отдела бухгалтерии: [Нажми для перехода](https://public.tableau.com/app/profile/sergei.v8049/viz/test_task_likesoft24_dash_2/Dashboard2)

3) Дашборд - отчёт для отдела бухгалтерии №2: [Нажми для перехода](https://public.tableau.com/app/profile/sergei.v8049/viz/test_task_likesoft24_dash_3/Dashboard3)